body {
    background-color: #212529;
}
h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2em;
}
p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
a {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3.2em;
    text-decoration: none;
    border: 3px solid whitesmoke;
    max-width: 400px;
    margin: auto;
    background-color: transparent !important;
}
.link-gap {
    margin-bottom: 10px;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 10px;
    background-color: transparent !important;
}

.menu li a {
    text-decoration: none;
}

strong {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container {
    margin-right: 20px;
}

.links {
    display: flex;
    margin-left: auto;
}

.nav-link {
    border: 1px solid whitesmoke;
    text-align: right;
    font-size: 1em;
    max-width: none;
    color: white;
    margin-right: 10px;
}