body {
    background-color: #212529;
    overflow: hidden;
}
h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2em;
}
p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
a {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3.2em;
    text-decoration: none;
    border: 3px solid transparent;
    max-width: 400px;
    margin: auto;
    background-color: transparent !important;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
.link-gap {
    margin-bottom: 10px;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 10px;
    background-color: transparent !important;
}

.menu li a {
    text-decoration: none;
    border: 2px solid white;
}

.menu li a:hover {
    border: 4px solid white;
    border-image: linear-gradient(to bottom right, red 0%, orange 25%, yellow 50%, green 75%, blue 100%); border-image-slice: 1;
}

.menu li #undertext {
    color: white;
}

a:hover {
    animation: pulse 1s infinite alternate;
}



strong {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container {
    margin-right: 20px;
}

.links {
    display: flex;
    margin-left: auto;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-3deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

@keyframes pop-up {
    0% { transform: scale(1); opacity: 0; }
    50% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
  }

.nav-link {
    border: 1px solid whitesmoke;
    padding: 2px;
    text-align: right;
    font-size: 1em;
    max-width: none;
    color: white;
    margin-right: 10px;
}

.nav-link-1:hover {
    border-color: wheat;
    color: wheat;
    animation: pop-up 0.5s ease forwards, wiggle 0.5s ease 0.5s infinite;
}

.nav-link-2:hover {
    border-color: rgb(255, 50, 0);
    color: rgb(255, 50, 0);
    animation: pop-up 0.5s ease forwards, wiggle 0.5s ease 0.5s infinite;
}

.nav-link-3:hover {
    border-color: yellow;
    color: yellow;
    animation: pop-up 0.5s ease forwards, wiggle 0.5s ease 0.5s infinite;
}

.nav-link-4:hover {
    border-color: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    animation: pop-up 0.5s ease forwards, wiggle 0.5s ease 0.5s infinite;
}

.nav-link-5:hover {
    border-color: lightblue;
    color: lightblue;
    animation: pop-up 0.5s ease forwards, wiggle 0.5s ease 0.5s infinite;
}

.nav-link-6:hover {
    border-color: purple;
    color: purple;
    animation: pop-up 0.5s ease forwards, wiggle 0.5s ease 0.5s infinite;
}

i {
    color: white;
    font-size: 1em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h4 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button {
    font-size: 1em; 
    padding: 2px; 
    max-width: 100px;
    font-family: 'Roboto', sans-serif;
    background-color: #212529;
    border: 2px solid white;
    font-weight: bold;
    transform: translateY(-5px);
}

textarea {
    border: 2px solid white;
    background-color: #212529;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 15px;
    font-weight: lighter;
    resize: none;
}

#iframe-nonfullscreen {
    border-image: linear-gradient(to bottom right, red 0%, orange 25%, yellow 50%, green 75%, blue 100%); border-image-slice: 1;
}

.star {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: gold; /* Or use an image */
    clip-path: polygon(
      50% 0%,
      61.8% 38.2%,
      100% 38.2%,
      69.1% 61.8%,
      80.9% 100%,
      50% 76.4%,
      19.1% 100%,
      30.9% 61.8%,
      0% 38.2%,
      38.2% 38.2%
    ); /* Star shape */
    animation: slideAcross 10s linear infinite;
    
}

@keyframes slideAcross {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(-5000%, 5000%);
    }
}

#backuplinkslink {
    color: rgb(255, 50, 0);
    font-size: medium;
    transform: translateY(30px);
    border: 4px solid darkred;
}

#backuplinkslink:hover {
    animation: none;
    color:rgb(0, 255, 0);
    border-image: linear-gradient(to bottom right, red 0%, orange 25%, yellow 50%, green 75%, blue 100%); border-image-slice: 1;
}

#backuplink {
    color: rgb(255, 50, 0);
    border: 4px solid darkred;
}

#backuplink:hover {
    color: whitesmoke;
    border-image: linear-gradient(to bottom right, red 0%, orange 25%, yellow 50%, green 75%, blue 100%); border-image-slice: 1;
}

@keyframes fire {
    0% { text-shadow: 0 0 4px #ff3, 0 -5px 4px #ff7, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -18px 18px #f20; }
    50% { text-shadow: 0 0 4px #ff3, 0 -5px 4px #ff7, -2px -10px 6px #fd3, 2px -15px 11px #f80, -2px -18px 18px #f20; }
    100% { text-shadow: 0 0 4px #ff3, 0 -5px 4px #ff7, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -18px 18px #f20; }
  }
  
.fire-effect {
    color: #fafad2;
    text-align: center;
    animation: fire 2s linear infinite;
}

.mist-effect {
    color: #fff;
    text-shadow: 0 0 5px #ccc, 0 0 10px #ccc, 0 0 15px #ccc, 0 0 20px #ccc, 0 0 30px #ccc, 0 0 40px #ccc;
}

.rainbow-red { color: red; }
.rainbow-orange { color: orange; }
.rainbow-yellow { color: yellow; }
.rainbow-green { color: green; }
.rainbow-blue { color: blue; }
.rainbow-indigo { color: indigo; }
.rainbow-violet { color: violet; }